{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{% static "kusa/favicon.png" %}">
    <link rel="stylesheet" href="{% static "kusa/temp.css" %}" type="text/css">
    <script type="text/javascript" language="JavaScript" src="{% static "kusa/temp.js" %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="bg">
<div class="title">草が生える機械(仮)<div class="menu"  id="amenu" onclick="hide();"><div id="humb1"></div><div id="humb2"></div><div id="humb3"></div></div></div>
<div class="value">
    {% block content %}{% endblock %}
</div>
<div id="menucontent"><br>
    <a href="{% url 'kusa:index' %}"><div class="menutopic">トップページ</div></a><br>
    <a href="{% url 'kusa:info' %}"><div class="menutopic">草が生える機械について</div></a><br>
    <a href="{% url 'kusa:pk' %}"><div class="menutopic">ラズベリーパイリスト</div></a><br>
    <div id="clos" class="menutopic" onclick="show();">閉じる</div>
</div>
</body>
</html>