{% extends 'kusa/base.html' %}
{% load static %}
{% block title %}KUSA{% endblock %}
{% block content %}
    <div class="topic">
        <h1>&nbsp・<a href="rasplist">ラズベリーパイリスト</a></h1>
    </div>
    <div class="topic">
        <h1>&nbsp・<a href="../admin">管理ページ</a></h1>
    </div>
    <div class="topic">
        <h2>トークン</h2>
        <input type="text" readonly="readonly" style="position: relative;left:10%;width: 80%;"  value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoxLCJ1c2VybmFtZSI6Im1pbmZhb3gzIiwiZXhwIjoxNTUwMTQyODI2LCJlbWFpbCI6InNwZGxjaTMwQGdtYWlsLmNvbSJ9.i7Ogj1sjWMdL3Y1SHIQ6aLW3Hnv2gqu1Mx6ybnfPYd4">
    </div>
    <br>
    <div class="foot">トップページ</div>
{% endblock %}