{% extends 'kusa/base.html' %}
{% load static %}
{% block title %}KUSA-ラズベリーパイリスト{% endblock %}
{% block content %}
    {% if latest_raspb_list %}
        <div class="topic">
        <ul>
            {% for raspberry in latest_raspb_list %}
                <li><h2><a href="/kusa/raspsp/{{ raspberry.id }}/">{{raspberry.raspid}}</a></h2></li>
            {% endfor %}
        </ul>
        </div>
    {% else %}
        <div class="topic">
            <p>No polls are available.</p>
        </div>
    {% endif %}
    <div class="foot">ラズベリーパイリスト<a href="../" style="position: fixed;bottom: 0px;right: 0px; font-size: 25px;">トップページへ</a></div>
{% endblock %}