{% extends 'kusa/base.html' %}
{% load static %}
{% block title %}KUSA-ラズベリーパイリスト{% endblock %}
{% block content %}
    {% if latest_raspb_list %}
        <div class="topic">
        <ul>
            {% for raspberry in latest_raspb_list %}
                <li><h1><a href="/kusa/raspsp/{{ raspberry.id }}/">{{raspberry.raspid}}</a></h1></li>
            {% endfor %}
        </ul>
        </div>
    {% else %}
        <div class="topic">
            <p>No polls are available.</p>
        </div>
    {% endif %}
    <div class="foot">ラズベリーパイリスト</div>
{% endblock %}