{% extends 'kusa/base.html' %}
{% load static %}
{% block title %}KUSA-{{raspbid}}の情報{% endblock %}
{% block content %}
    <div class="topic">
    <h1>笑顔</h1>
    {% if smileI_list %}
    <ul>
    {% for raspberry in smileI_list %}
        <li>{{raspberry.smileic}}回&nbsp&nbsp&nbsp送信時間:{{raspberry.pushed_dateI}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p style="text-align: center">計測された笑顔はありません.</p>
{% endif %}
    </div>
    <div class="topic">
    <h1>笑い声</h1>
    {% if smileS_list %}
    <ul>
    {% for raspberry in smileS_list %}
        <li>{{raspberry.smilesc}}回&nbsp&nbsp&nbsp送信時間:{{raspberry.pushed_dateS}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p style="text-align: center">計測された笑い声はありません.</p>
{% endif %}
    </div>
    <div class="foot">個体名:{{ raspbid }}&nbsp&nbsp個体番号:{{ raspnum }}</div>
{% endblock %}